TJ_IAM_USERNAME=
TJ_IAM_PASSWORD=
TJ_SESSIONID=
TJ_JSESSIONID=
TJ_SESSION_STORE_PATH=./data/session.json
TJ_ONE_BASE_URL=https://1.tongji.edu.cn
TJ_REQUEST_TIMEOUT_SECONDS=15
TJ_LOGIN_EXPIRES_SECONDS=600
TJ_LOG_LEVEL=INFO
TJ_HOST=127.0.0.1
TJ_PORT=8000
# 这里以 QQ邮箱为例，其他邮箱请自行查找对应的IMAP服务器地址和端口号
TJ_IMAP_EMAIL=
TJ_IMAP_GRANTCODE=
TJ_IMAP_SERVER=imap.qq.com
TJ_IMAP_PORT=993
